{% extends "layout.html" %} {% block body %}
<div class='information'>
  <h1>HackMerced 0x4F</h1>
  <section>
    <article>
      <h4>About Us</h4>
      <p>
        HackMerced is a 36 hour yearly programming competition that occurs in Merced, California with an attendance of around 400
        students from all over the world. This year, HackMerced will take place in the Fall of 2018 at the University of
        California, Merced.
      </p>
    </article>
    <article>
      <h4>HackMerced Leadership Information</h4>
      <p>
        HackMerced is looking for a committed group of individuals who want to build the future of our event. Anyone can help lead
        our event, as long as you are enrolled in a four-year university.
      </p>
      <a class='disable-hover' href="https://www.facebook.com/hackmerced/" target="_blank">
        <button>Check out our Facebook page!</button>
      </a>
    </article>
  </section>
</div>
{% endblock %}