<meta name="description" content="HackMerced is UC Merced's 36-hour hackathon from September 28 - 30, 2018! All students are invited to participate!"/>
<meta itemprop="name" content="HackMerced"/>
<meta itemprop="description" content="HackMerced is UC Merced's 36-hour hackathon from September 28 - 30, 2018! All students are invited to participate!"/>
<meta itemprop="image" content="https://drive.google.com/file/d/0BxS8KkV8bJEKOUVNMmVRWkVrc1k/view?usp=sharing"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@hackmerced"/>
<meta name="twitter:title" content="HackMerced"/>
<meta name="twitter:description" content="HackMerced is UC Merced's 36-hour hackathon from September 28 - 30, 2018! All students are invited to participate!"/>
<meta name="twitter:creator" content="@hackmerced"/>
<meta name="twitter:image:src" content="https://drive.google.com/file/d/0BxS8KkV8bJEKcS1ZcmR6TmxUR1U/view?usp=sharing"/>
<meta property="og:title" content="HackMerced"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://hackmerced.com/"/>
<meta property="og:image" content="https://s3-us-west-1.amazonaws.com/hackmerced/seo/large.png?version=2"/>
<meta property="og:description" content="HackMerced is UC Merced's 36-hour hackathon from September 28 - 30, 2018! All students are invited to participate!"/>
<meta property="og:site_name" content="hackmerced"/>
